* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

:root {
  --poster-height: 640px;
  --poster-width: 426px;
  --slider-margin: 50px auto 20px auto;
  --slider-border: 15px solid brown;
  --navigation-ball-background: linear-gradient(
    235deg,
    white 0%,
    rgb(220, 198, 220) 10%,
    rgb(192, 133, 203) 30%,
    rgb(78, 17, 87) 90%,
    rgb(52, 8, 59) 100%
  );
  --nav-border-left-color: rgb(52, 8, 59);
  --nav-border-bottom-color: rgb(52, 8, 59);
  --nav-border-top-color: rgb(173, 145, 179);
  --nav-border-right-color: rgb(192, 133, 203);
}

.poster-frame {
  margin: var(--slider-margin);
  width: min-content;
  border-radius: 22px;
  background-color: rgba(245, 245, 245, 0.67);
  border: var(--slider-border);
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: 30px auto 30px;
  justify-content: center;
  align-items: center;
  z-index: -1;

  & > .back,
  & > .forth {
    grid-row: 2;
    position: relative;
    line-height: 0px;
    padding-left: 3px;
    height: 100%;
    border: none;
    outline: none;

    &:hover {
      filter: saturate(3);
    }
  }

  > .back {
    content: url("./assets/arrow_back.svg");
    grid-column: 1;
  }

  > .forth {
    content: url("./assets/arrow_forward.svg");
    grid-column: 3;
    left: 1px;
  }
}

.poster-slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  width: var(--poster-width);
  height: var(--poster-height);
  grid-column: 2;
  grid-row: 2;
  position: relative;

  img {
    width: var(--poster-width);
    height: var(--poster-height);
    position: relative;
  }
}

.navigation {
  grid-row: 3;
  grid-column: 1 / -1;
  box-sizing: border-box;
  overflow: auto hidden;
  display: flex;
  justify-content: center;
  gap: 10px;
  button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
}

button:hover {
  background-color: blue;
}
